.odd-p{
    background-color: rgb(255, 167, 167);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#number-2{
    color: blue;
    font-size: 36px;
    font-family: Verdana;
}

.number-3{
    font-size: 24px;
}

#number-4{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
